$black-color: #000;
$white-color: #fff;

$theme-background: #191919;
$theme-para-color: rgba(198, 201, 216, .75);

// $theme-color: #00a1f2;
// $theme-color-2: #504bfd;
// $light-text-color: rgb(212, 212, 212);
// $light-black-color: rgb(12, 12, 12);



h1,
h2,
h3,
h4,
h5,
a,
ul,
li,
p,
button,
figure,
img,
input {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

body {
    overflow: hidden;
    overflow-y: auto;
    font-family: "Work Sans", sans-serif;
}

.container-md {
    max-width: 1400px;
}


.container-sm {
    max-width: 1100px;
}


.container-x-sm {
    max-width: 800px;
}


.custom-margin-nav {
    margin-top: 4rem;
}


.section-space {
    padding: 5rem 0;
}

.section-space-md {
    padding: 7rem 0;
}

.section-space-lg {
    padding: 10rem 0;
}


.d_flex {
    display: flex;
}

.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

.justify_space {
    justify-content: space-between;
}

.f_content {
    width: fit-content;
}

.no-resize {
    resize: none;
}

.text_center {
    text-align: center;
}


.main-hero-heading {
    font-size: clamp(2.5rem, 4vw, 8rem);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;

    span.country {
        font-size: 60%;
    }
}

.main-heading {
    font-size: clamp(2rem, 3vw, 6rem);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: $white-color;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}


.theme_para {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: "Work Sans", sans-serif;
    padding-bottom: 2rem;
    color: $theme-para-color;
    font-weight: 400;
}