@use "./fonts";
@use "./base";
@use "./mediaqueries";

.main-hero-section {
    padding: 2rem 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        object-position: top;

    }

      .main-hero-content {
        z-index: 100;
        width: 100%;

    }

    .main-hero-content-inner {
        span.welcome-hero{
            text-transform: uppercase;
            font-weight: 400;
        }
        color: white;
        span{
            display: block;
        }
        span.profession{
            color: #f9004d;
            text-transform: capitalize;
        }


    }

}